@import "../../../../styles/mixins.scss";

.skill-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100px;
    max-width: 120px;
    min-width: 130px;
    margin: 1rem;
    @include mobile {
        max-height: 60px;
        min-width: 62px;
        margin: 0.4rem;
    }
}
.skill-img-container {
    overflow-y: hidden;
    flex: 1;
    animation: animate 2s linear infinite;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
@keyframes animate {
    0% {
        transform: rotate3d(0deg);
    }

    100% {
        transform: rotate3d(360deg);
    }
}
.skill-infos {
    p,
    span {
        text-align: center;
        color: white;
        margin-top: 1.2rem;
        font-size: 1.2rem;
        text-shadow:
        /* White glow */ 0 0 2px #f1a100, 0 0 2px #f1a100, 0 0 2px #f1a100;
        @include mobile {
            font-size: 0.9rem;
            margin-top: 0.5rem;
        }
    }
}
